Source: kurz
Section: misc
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9), golang, ruby-md2man
Standards-Version: 3.9.5

Package: kurz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, socat
Description: universal xmpp bot
